<!-- 模态框（Modal） -->
<div th:fragment="customerAdd" class="modal fade" id="customerAddModal" tabindex="-1"
	customer="dialog" aria-labelledby="customerAddLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="customerAddLabel"
					style="font-size: 18px; font-weight: 500;">新增客户</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-0">公司名称</label>
						<div class="col-md-4">
							<input id="customerNameForAddPage" name="customerName" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">经营范围</label>
						<div class="col-md-4">
						
							<input id="industryForAddPage" name="industry" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-0">联系人</label>
						<div class="col-md-4">
						
							<input id="contactsForAddPage" name="contacts" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">客户地址</label>
						<div class="col-md-4">
						
							<input id="addressForAddPage" name="address" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-0">联系电话</label>
						<div class="col-md-4">
						
							<input id="telephoneForAddPage" name="telephone" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">客户需求</label>
						<div class="col-md-4">
						
							<input id="demandForAddPage" name="demand" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-0">销售负责人</label>
						<div class="col-md-4">
						
							<input id="salesmanForAddPage" name="salesman" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">跟踪结果</label>
						<div class="col-md-4">
						
							<input id="resultsForAddPage" name="results" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>取消
				</a>
				<button id="customerAddBtn" data-dismiss="modal" 
					class="btn btn-primary" type="button">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>确定
				</button>
			</div>
		</div>
	</div>
</div>