<!-- 模态框（Modal） -->
<div th:fragment="staffAdd" class="modal fade" id="staffAddModal" tabindex="-1"
	staff="dialog" aria-labelledby="staffAddLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="staffAddLabel"
					style="font-size: 18px; font-weight: 500;">新增员工</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
			</div>
			
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<label class="control-label col-md-0">姓名</label>
						<div class="col-md-4">
							<input id="staffNameForAddPage" name="staffName" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">性别</label>
						<div class="col-md-4">
							<input id="categoryForAddPage" name="category" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-0">部门</label>
						<div class="col-md-4">
							<input id="personForAddPage" name="person" class="form-control" 
								type="text" placeholder="">
						</div>
						<label class="control-label col-md-0">邮箱</label>
						<div class="col-md-4">
							<input id="dateForAddPage" name="date" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-0">联系方式</label>
						<div class="col-md-4">
							<input id="personForAddPage" name="person" class="form-control" 
								type="text" placeholder="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!-- data-dismiss="modal"关闭模态框 -->
				<a class="btn btn-secondary" href="#" data-dismiss="modal">
					<i class="fa fa-fw fa-lg fa-times-circle"></i>取消
				</a>
				<button id="staffAddBtn" data-dismiss="modal" 
					class="btn btn-primary" type="button">
					<i class="fa fa-fw fa-lg fa-check-circle"></i>确定
				</button>
			</div>
		</div>
	</div>
</div>